:root {
  font-size: 16px;

  --white: #f7f8f9;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  font-family: Helvetica, sans-serif;
}

html {
  background-color: var(--white);
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    transition: none;
  }
}

body {
  position: relative;
  min-height: 100vh;
  overflow: visible;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: var(--white);
  padding: 25px;

  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5px;
  overflow: visible;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

.white-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f8f9;
  z-index: 9;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.white-cover.active {
  opacity: 0;
}

.item-separator {
  visibility: hidden;
}

.title {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  text-align: center;
  font-size: 60px;
  transition: transform 1s ease-in-out, top 1s ease-in-out,
    font-size 1s ease-in-out;
  z-index: 10;
  color: rgb(121, 3, 3);
}

.title > a > h1 {
  overflow: hidden;
}

.title.active {
  top: 1.5vh;
  transform: translate(-50%, 0%);
  font-size: 20px;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.marquee_container {
  display: flex;
  gap: 32px;
  overflow-x: visible;
  animation: marquee 5s linear infinite;
}

.marquee_container > h2 {
  font-size: 20px;
  text-wrap: nowrap;
  overflow: visible;
  margin-top: 16px;
  margin-bottom: 16px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.web-cards {
  height: 90vh;
}

.web-card {
  border-bottom: 1px solid rgb(121, 3, 3);
  height: 25%;
  background-color: var(--white);
  position: relative;
  overflow: visible;
}

.card-img {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: left 0.3s ease-in-out;
}

.card-img.active {
  left: 0;
}

.card-img > img {
  width: 100%;
  height: 100%;
}

.web-card-title {
  width: fit-content;

  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.3s ease-in-out;
}

.web-card-title.active {
  left: 60%;
}

.web-card-title.active > h2,
.web-card-title.active > p {
  color: var(--white);
}

.web-card-title > h2 {
  font-size: 15px;
  color: rgb(121, 3, 3);
  transition: color 0.3s ease-in-out;
}

.web-card-title > p {
  font-size: 15px;
  color: rgb(121, 3, 3);
  transition: color 0.3s ease-in-out;
}

@media screen and (width > 1200px) {
  .item {
    height: fit-content;
    width: fit-content;
    color: rgb(121, 3, 3);
    padding: 10px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: invisible;
    padding: 5px;

    border-radius: 10px;
    overflow: visible;
    z-index: 10;
  }

  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    overflow: hidden;
    padding: auto;
  }

  header.active {
    background-color: red;
  }

  .title.active {
    transform: translate(-50%, 0%);
    font-size: 0.2re;
  }
}

.web-cards {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.web-card {
  border-bottom: none;
  /* border-left: 1px solid red; */
  height: 100%;
  overflow-x: hidden;
}

.card-img {
  height: 100%;
  width: 100%;
  left: -25vw;
  transition: left 0.3s ease-in-out;
  overflow-y: hidden;
}

.card-img.active {
  left: 0;
}

.web-card-title {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 32px 100px 32px;
}

.web-card-title > h2 {
  font-size: 60px;
}

.web-card-title > p {
  font-size: 300px;
  overflow-y: hidden;
}

.web-card-title.active {
  bottom: 0;
  left: 0;
}

/* MAIN  */
h2 {
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  padding-bottom: 9%;
}

h3 {
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 2%;
}

P {
  font-size: 1em;
}

/* SECCIONES  */

/* WEB 1 */
#web_1 {
  padding: 5%;
  padding-bottom: 100px;
}

#web_1 p {
  overflow: hidden;
}

#web_1 h2 {
  padding: 10px;
}

#web_1 h3 {
  padding: 10px;
}

.carrusel_1 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 4%;
}

.carrusel_1 > div {
  position: relative;
  flex: 20%;
  z-index: 0;
  overflow: hidden;
}

.carrusel_1 > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.carrusel_1 > div p {
  font-size: 0.8em;
  padding-top: 5%;
  overflow: hidden;
}

.explicacion_1 {
  display: flex;
  padding-bottom: 2%;
  padding-top: 4%;
}

.explicacion_1 > p {
  overflow: hidden;
}

.explicacion_1 > div {
  padding-right: 5%;
  width: 75%;
}

.explicacion_1 > div:last-child {
  display: flex;
  padding-right: 0;
  width: 25%;
}

.explicacion_1 > div:last-child img {
  width: 100%;
  border-radius: 2%;
}

/* WEB 2 */
#web_2 {
  padding: 5%;
  padding-bottom: 100px;
}

#web_2 p {
  overflow: hidden;
}

#web_2 h2 {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#web_2 h3 {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.carrusel_2 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 4%;
}

.carrusel_2 > div {
  position: relative;
  flex: 20%;
  z-index: 0;
  overflow: hidden;
}

.carrusel_2 > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.carrusel_2 > div p {
  font-size: 0.8em;
  padding-top: 5%;
}

.explicacion_2 {
  display: flex;
  padding-bottom: 2%;
  padding-top: 4%;
}

.explicacion_2 > div {
  display: flex;
  padding-right: 0;
  width: 25%;
}

.explicacion_2 > div img {
  width: 100%;
  border-radius: 2%;
}

.explicacion_2 > div:last-child {
  padding-right: 0%;
  padding-left: 5%;
  width: 75%;
}

/* WEB 3 */
#web_3 {
  padding: 5%;
  padding-bottom: 100px;
}

#web_3 p {
  overflow: hidden;
}

#web_3 h2 {
  padding: 10px;
}

#web_3 h3 {
  padding: 10px;
}

.carrusel_3 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 4%;
}

.carrusel_3 > div {
  position: relative;
  flex: 20%;
  z-index: 0;
  overflow: hidden;
}

.carrusel_3 > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.carrusel_3 > div p {
  font-size: 0.8em;
  padding-top: 5%;
  overflow: hidden;
}

.explicacion_3 {
  display: flex;
  padding-bottom: 2%;
  padding-top: 4%;
}

.explicacion_3 > p {
  overflow: hidden;
}

.explicacion_3 > div {
  padding-right: 5%;
  width: 75%;
}

.explicacion_3 > div:last-child {
  display: flex;
  padding-right: 0;
  width: 25%;
}

.explicacion_3 > div:last-child img {
  width: 100%;
  border-radius: 2%;
}

/* WEB 4 */
#web_4 {
  padding: 5%;
  padding-bottom: 100px;
}

#web_4 p {
  overflow: hidden;
}

#web_4 h2 {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#web_4 h3 {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.carrusel_4 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 4%;
}

.carrusel_4 > div {
  position: relative;
  flex: 20%;
  z-index: 0;
  overflow: hidden;
}

.carrusel_4 > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.carrusel_4 > div p {
  font-size: 0.8em;
  padding-top: 5%;
}

.explicacion_4 {
  display: flex;
  padding-bottom: 2%;
  padding-top: 4%;
}

.explicacion_4 > div {
  display: flex;
  padding-right: 0;
  width: 25%;
}

.explicacion_4 > div img {
  width: 100%;
  border-radius: 2%;
}

.explicacion_4 > div:last-child {
  padding-right: 0%;
  padding-left: 5%;
  width: 75%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 1em;
  width: 100%;
  background-color: rgb(121, 3, 3);
}

.footer a {
  color: var(--white);

  padding: 5px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
